page-tabs {

.tabs-striped[aria-selected=true] {
        margin-bottom: 10px;
        text-decoration: underline !important;
        
    }
    .tab-item:hover{
        text-decoration: hotpink;
        }

}
