<ion-header>

    <ion-navbar>
      
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    
      <ion-title text-center>Menu</ion-title>
    </ion-navbar>
  
  </ion-header>



<ion-content padding>
  <h1
  class="fixed_cal"
  ion-fixed
  (click)="SpeakText(['Calories you have consumed to day is ' + totalCalories + ' out of ' + userCalls])"
  text-center>
  Calories: {{totalCalories}}/{{userCalls}}
</h1>






  <!-- BREAKFASt -->
  <ion-card>
      <ion-card-header>
        <ion-row>
            <ion-col>
                <h1 (click)="SpeakText(['breakfast'])">Breakfast</h1>
            </ion-col>
            <ion-col col-auto>
                  <ion-icon (click)="SpeakText(breakfastMeal)" name="md-volume-up" large></ion-icon>
            </ion-col>
        </ion-row>
        </ion-card-header>
  <ion-grid>

    <!-- MAIN FOOD -->
    <div *ngIf="mealPlanner.breakfast.protein.name != 'none'">
      <ion-row>
        <ion-col auto>
          <ion-card-content>
              <h2 (click)="SpeakText([mealPlanner.breakfast.protein.name + mealPlanner.breakfast.protein.grams + 'grams'])">
                {{mealPlanner.breakfast.protein.name}}
              </h2>
          </ion-card-content>
        </ion-col>
          <ion-col col-5>
            <ion-card-content>
                <h2>Grams: {{mealPlanner.breakfast.protein.grams}}</h2>
            </ion-card-content>
          </ion-col>
      </ion-row>
    </div>

    <!-- CARBS -->
    <div *ngIf="mealPlanner.breakfast.carbs.name != 'none'">
      <ion-row>
        <ion-col auto>
          <ion-card-content>
              <h2 (click)="SpeakText([mealPlanner.breakfast.carbs.name + mealPlanner.breakfast.carbs.grams + 'grams'])">
                {{mealPlanner.breakfast.carbs.name}}
              </h2>
          </ion-card-content>
        </ion-col>
          <ion-col col-5>
            <ion-card-content>
                <h2>Grams: {{mealPlanner.breakfast.carbs.grams}}</h2>
            </ion-card-content>
          </ion-col>
      </ion-row>      
    </div>

    <!-- VEGATABLES -->
    <div *ngIf="mealPlanner.breakfast.veg.name != 'none'">
      <ion-row>
        <ion-col auto>
          <ion-card-content>
              <h2 (click)="SpeakText([mealPlanner.breakfast.veg.name + mealPlanner.breakfast.veg.grams + 'grams'])">
                {{mealPlanner.breakfast.veg.name}}
              </h2>
          </ion-card-content>
        </ion-col>
          <ion-col col-5>
            <ion-card-content>
                <h2>Grams: {{mealPlanner.breakfast.veg.grams}}</h2>
            </ion-card-content>
          </ion-col>
      </ion-row>
    </div>

    <!-- FRUIT -->
    <div *ngIf="mealPlanner.breakfast.fruit.name != 'none'">
      <ion-row>
        <ion-col auto>
          <ion-card-content>
              <h2 (click)="SpeakText([mealPlanner.breakfast.fruit.name + mealPlanner.breakfast.fruit.grams + 'grams'])">
                {{mealPlanner.breakfast.fruit.name}}
              </h2>
          </ion-card-content>
        </ion-col>
          <ion-col col-5>
            <ion-card-content>
                <h2>Grams: {{mealPlanner.breakfast.fruit.grams}}</h2>
            </ion-card-content>
          </ion-col>
      </ion-row>
    </div>

    <!-- DRINK -->
    <div *ngIf="mealPlanner.breakfast.drink.name != 'none'">
      <ion-row>
        <ion-col auto>
          <ion-card-content>
              <h2 (click)="SpeakText([mealPlanner.breakfast.drink.name + mealPlanner.breakfast.drink.grams + 'grams'])">
                {{mealPlanner.breakfast.drink.name}}
              </h2>
          </ion-card-content>
        </ion-col>
          <ion-col col-5>
            <ion-card-content>
                <h2>Grams: {{mealPlanner.breakfast.drink.grams}}</h2>
            </ion-card-content>
          </ion-col>
      </ion-row>
    </div>
    <ion-row>
      <ion-col>
          <h1
          (click)="SpeakText(['Total calories for breakfast is ' +mealPlanner.breakfast.callories])"
          text-center>Callories: {{mealPlanner.breakfast.callories}}
        </h1>
      </ion-col>
    </ion-row>
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col col-auto>
            <button ion-button large color="secondary" (click)="updateMeal('b')">
              <ion-icon name="ios-add-circle-outline" large></ion-icon>
            </button>
        </ion-col>
        <ion-col>
          <button ion-button large color="danger" (click)="changeMeal('b')">
            <ion-icon name="md-close"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
  </ion-grid>
  </ion-card>






  <!-- LUNCH -->
  <ion-card>
      <ion-card-header>
          <ion-row>
              <ion-col>
                  <h1 (click)="SpeakText(['lunch'])">Lunch</h1>
              </ion-col>
              <ion-col col-auto>
                    <ion-icon (click)="SpeakText(lunchMeal)" name="md-volume-up" large></ion-icon>
              </ion-col>
          </ion-row>
        </ion-card-header>
  <ion-grid>
      <!-- MAIN FOOD -->
    <div *ngIf="mealPlanner.lunch.protein.name != 'none'">
        <ion-row>
          <ion-col auto>
            <ion-card-content>
                <h2 (click)="SpeakText([mealPlanner.lunch.protein.name + mealPlanner.lunch.protein.grams + 'grams'])">
                  {{mealPlanner.lunch.protein.name}}
                </h2>
            </ion-card-content>
          </ion-col>
            <ion-col col-5>
              <ion-card-content>
                  <h2>Grams: {{mealPlanner.lunch.protein.grams}}</h2>
              </ion-card-content>
            </ion-col>
        </ion-row>
      </div>
  
      <!-- CARBS -->
      <div *ngIf="mealPlanner.lunch.carbs.name != 'none'">
        <ion-row>
          <ion-col auto>
            <ion-card-content>
                <h2 (click)="SpeakText([mealPlanner.lunch.carbs.name + mealPlanner.lunch.carbs.grams + 'grams'])">
                  {{mealPlanner.lunch.carbs.name}}
                </h2>
            </ion-card-content>
          </ion-col>
            <ion-col col-5>
              <ion-card-content>
                  <h2>Grams: {{mealPlanner.lunch.carbs.grams}}</h2>
              </ion-card-content>
            </ion-col>
        </ion-row>      
      </div>
  
      <!-- VEGATABLES -->
      <div *ngIf="mealPlanner.lunch.veg.name != 'none'">
        <ion-row>
          <ion-col auto>
            <ion-card-content>
                <h2 (click)="SpeakText([mealPlanner.lunch.veg.name + mealPlanner.lunch.veg.grams + 'grams'])">
                  {{mealPlanner.lunch.veg.name}}
                </h2>
            </ion-card-content>
          </ion-col>
            <ion-col col-5>
              <ion-card-content>
                  <h2>Grams: {{mealPlanner.lunch.veg.grams}}</h2>
              </ion-card-content>
            </ion-col>
        </ion-row>
      </div>
  
      <!-- FRUIT -->
      <div *ngIf="mealPlanner.lunch.fruit.name != 'none'">
        <ion-row>
          <ion-col auto>
            <ion-card-content>
                <h2 (click)="SpeakText([mealPlanner.lunch.fruit.name + mealPlanner.lunch.fruit.grams + 'grams'])">
                  {{mealPlanner.lunch.fruit.name}}
                </h2>
            </ion-card-content>
          </ion-col>
            <ion-col col-5>
              <ion-card-content>
                  <h2>Grams: {{mealPlanner.lunch.fruit.grams}}</h2>
              </ion-card-content>
            </ion-col>
        </ion-row>
      </div>
  
      <!-- DRINK -->
      <div *ngIf="mealPlanner.lunch.drink.name != 'none'">
        <ion-row>
          <ion-col auto>
            <ion-card-content>
                <h2 (click)="SpeakText([mealPlanner.lunch.drink.name + mealPlanner.lunch.drink.grams + 'grams'])">
                  {{mealPlanner.lunch.drink.name}}
                </h2>
            </ion-card-content>
          </ion-col>
            <ion-col col-5>
              <ion-card-content>
                  <h2>Grams: {{mealPlanner.lunch.drink.grams}}</h2>
              </ion-card-content>
            </ion-col>
        </ion-row>
      </div>
      <ion-row>
          <ion-col>
              <h1
              (click)="SpeakText(['Total calories for lunch is ' +mealPlanner.lunch.callories])"
              text-center>Callories: {{mealPlanner.lunch.callories}}
            </h1>
          </ion-col>
        </ion-row>
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col col-auto>
            <button ion-button large color="secondary" (click)="updateMeal('l')">
              <ion-icon name="ios-add-circle-outline" large></ion-icon>
            </button>
        </ion-col>
        <ion-col>
          <button ion-button large color="danger" (click)="changeMeal('l')">
            <ion-icon name="md-close"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
  </ion-grid>
  </ion-card>




  <!-- DINER -->
  <ion-card>
      <ion-card-header>
          <ion-row>
              <ion-col>
                  <h1 (click)="SpeakText(['dinner'])">Dinner</h1>
              </ion-col>
              <ion-col col-auto>
                    <ion-icon (click)="SpeakText(dinnerMeal)" name="md-volume-up" large></ion-icon>
              </ion-col>
          </ion-row>
        </ion-card-header>
  <ion-grid>
     <!-- MAIN FOOD -->
    <div *ngIf="mealPlanner.dinner.protein.name != 'none'">
        <ion-row>
          <ion-col auto>
            <ion-card-content>
                <h2 (click)="SpeakText([mealPlanner.dinner.protein.name + mealPlanner.dinner.protein.grams + 'grams'])">
                  {{mealPlanner.dinner.protein.name}}
                </h2>
            </ion-card-content>
          </ion-col>
            <ion-col col-5>
              <ion-card-content>
                  <h2>Grams: {{mealPlanner.dinner.protein.grams}}</h2>
              </ion-card-content>
            </ion-col>
        </ion-row>
      </div>
  
      <!-- CARBS -->
      <div *ngIf="mealPlanner.dinner.carbs.name != 'none'">
        <ion-row>
          <ion-col auto>
            <ion-card-content>
                <h2 (click)="SpeakText([mealPlanner.dinner.carbs.name + mealPlanner.dinner.carbs.grams + 'grams'])">
                  {{mealPlanner.dinner.carbs.name}}
                </h2>
            </ion-card-content>
          </ion-col>
            <ion-col col-5>
              <ion-card-content>
                  <h2>Grams: {{mealPlanner.dinner.carbs.grams}}</h2>
              </ion-card-content>
            </ion-col>
        </ion-row>      
      </div>
  
      <!-- VEGATABLES -->
      <div *ngIf="mealPlanner.dinner.veg.name != 'none'">
        <ion-row>
          <ion-col auto>
            <ion-card-content>
                <h2 (click)="SpeakText([mealPlanner.dinner.veg.name + mealPlanner.dinner.veg.grams + 'grams'])">
                  {{mealPlanner.dinner.veg.name}}
                </h2>
            </ion-card-content>
          </ion-col>
            <ion-col col-5>
              <ion-card-content>
                  <h2>Grams: {{mealPlanner.dinner.veg.grams}}</h2>
              </ion-card-content>
            </ion-col>
        </ion-row>
      </div>
  
      <!-- FRUIT -->
      <div *ngIf="mealPlanner.dinner.fruit.name != 'none'">
        <ion-row>
          <ion-col auto>
            <ion-card-content>
                <h2 (click)="SpeakText([mealPlanner.dinner.fruit.name + mealPlanner.dinner.fruit.grams + 'grams'])">
                  {{mealPlanner.dinner.fruit.name}}
                </h2>
            </ion-card-content>
          </ion-col>
            <ion-col col-5>
              <ion-card-content>
                  <h2>Grams: {{mealPlanner.dinner.fruit.grams}}</h2>
              </ion-card-content>
            </ion-col>
        </ion-row>
      </div>
  
      <!-- DRINK -->
      <div *ngIf="mealPlanner.dinner.drink.name != 'none'">
        <ion-row>
          <ion-col auto>
            <ion-card-content>
                <h2 (click)="SpeakText([mealPlanner.dinner.drink.name + mealPlanner.dinner.drink.grams + 'grams'])">
                  {{mealPlanner.dinner.drink.name}}
                </h2>
            </ion-card-content>
          </ion-col>
            <ion-col col-5>
              <ion-card-content>
                  <h2>Grams: {{mealPlanner.dinner.drink.grams}}</h2>
              </ion-card-content>
            </ion-col>
        </ion-row>
      </div>
      <ion-row>
          <ion-col>
              <h1
              (click)="SpeakText(['Total calories for dinner is ' +mealPlanner.dinner.callories])"
              text-center>Callories: {{mealPlanner.dinner.callories}}
            </h1>
          </ion-col>
        </ion-row>
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col col-auto>
            <button ion-button large color="secondary" (click)="updateMeal('d')">
              <ion-icon name="ios-add-circle-outline" large></ion-icon>
            </button>
        </ion-col>
        <ion-col>
          <button ion-button large color="danger" (click)="changeMeal('d')">
            <ion-icon name="md-close"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
  </ion-grid>
  </ion-card>





 <!-- EveningSNack -->
  <ion-card>
      <ion-card-header>
          <ion-row>
              <ion-col>
                  <h1 (click)="SpeakText(['Evening snack'])">Evening Snack</h1>
              </ion-col>
              <ion-col col-auto>
                    <ion-icon (click)="SpeakText(eveMeal)" name="md-volume-up" large></ion-icon>
              </ion-col>
          </ion-row>
        </ion-card-header>
  <ion-grid>
       <!-- MAIN FOOD -->
    <div *ngIf="mealPlanner.eveSnack.protein.name != 'none'">
        <ion-row>
          <ion-col auto>
            <ion-card-content>
                <h2 (click)="SpeakText([mealPlanner.eveSnack.protein.name + mealPlanner.eveSnack.protein.grams + 'grams'])">
                  {{mealPlanner.eveSnack.protein.name}}
                </h2>
            </ion-card-content>
          </ion-col>
            <ion-col col-5>
              <ion-card-content>
                  <h2>Grams: {{mealPlanner.eveSnack.protein.grams}}</h2>
              </ion-card-content>
            </ion-col>
        </ion-row>
      </div>
  
      <!-- CARBS -->
      <div *ngIf="mealPlanner.eveSnack.carbs.name != 'none'">
        <ion-row>
          <ion-col auto>
            <ion-card-content>
                <h2 (click)="SpeakText([mealPlanner.eveSnack.carbs.name + mealPlanner.eveSnack.carbs.grams + 'grams'])">
                  {{mealPlanner.eveSnack.carbs.name}}
                </h2>
            </ion-card-content>
          </ion-col>
            <ion-col col-5>
              <ion-card-content>
                  <h2>Grams: {{mealPlanner.eveSnack.carbs.grams}}</h2>
              </ion-card-content>
            </ion-col>
        </ion-row>      
      </div>
  
      <!-- VEGATABLES -->
      <div *ngIf="mealPlanner.eveSnack.veg.name != 'none'">
        <ion-row>
          <ion-col auto>
            <ion-card-content>
                <h2 (click)="SpeakText([mealPlanner.eveSnack.veg.name + mealPlanner.eveSnack.veg.grams + 'grams'])">
                  {{mealPlanner.eveSnack.veg.name}}
                </h2>
            </ion-card-content>
          </ion-col>
            <ion-col col-5>
              <ion-card-content>
                  <h2>Grams: {{mealPlanner.eveSnack.veg.grams}}</h2>
              </ion-card-content>
            </ion-col>
        </ion-row>
      </div>
  
      <!-- FRUIT -->
      <div *ngIf="mealPlanner.eveSnack.fruit.name != 'none'">
        <ion-row>
          <ion-col auto>
            <ion-card-content>
                <h2 (click)="SpeakText([mealPlanner.eveSnack.fruit.name + mealPlanner.eveSnack.fruit.grams + 'grams'])">
                  {{mealPlanner.eveSnack.fruit.name}}
                </h2>
            </ion-card-content>
          </ion-col>
            <ion-col col-5>
              <ion-card-content>
                  <h2>Grams: {{mealPlanner.eveSnack.fruit.grams}}</h2>
              </ion-card-content>
            </ion-col>
        </ion-row>
      </div>
  
      <!-- DRINK -->
      <div *ngIf="mealPlanner.eveSnack.drink.name != 'none'">
        <ion-row>
          <ion-col auto>
            <ion-card-content>
                <h2 (click)="SpeakText([mealPlanner.eveSnack.drink.name + mealPlanner.eveSnack.drink.grams + 'grams'])">
                  {{mealPlanner.eveSnack.drink.name}}
                </h2>
            </ion-card-content>
          </ion-col>
            <ion-col col-5>
              <ion-card-content>
                  <h2>Grams: {{mealPlanner.eveSnack.drink.grams}}</h2>
              </ion-card-content>
            </ion-col>
        </ion-row>
      </div>
      <ion-row>
          <ion-col>
              <h1
              (click)="SpeakText(['Total calories for evening snack is ' +mealPlanner.eveSnack.callories])"
              text-center>Callories: {{mealPlanner.eveSnack.callories}}
            </h1>
          </ion-col>
        </ion-row>
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col col-auto>
            <button ion-button large color="secondary" (click)="updateMeal('e')">
              <ion-icon name="ios-add-circle-outline" large></ion-icon>
            </button>
        </ion-col>
        <ion-col>
          <button ion-button large color="danger" (click)="changeMeal('e')">
            <ion-icon name="md-close"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
  </ion-grid>
  </ion-card>
      
</ion-content>
