<ion-header>

  <ion-navbar>
    <ion-title text-center>Menu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 text-center>Calories: {{currCalories}}/1500</h1>
  <ion-card>
      <ion-card-header>
          <h1>Breakfast</h1>
        </ion-card-header>
  <ion-grid>
      <ion-row>
        <ion-col>
             <ion-card-content>
               <h2 *ngFor="let meal of breakfastMeal; let i=index">{{i+1}}.{{meal}}</h2>
             </ion-card-content>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col col-auto>
            <button ion-button large color="secondary" (click)="acceptFood()">
              <ion-icon name="ios-add-circle-outline" large></ion-icon>
            </button>
        </ion-col>
        <ion-col>
          <button ion-button large color="danger">
            <ion-icon name="md-close"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
  </ion-grid>
  </ion-card>

  <ion-card>
      <ion-card-header>
          <h1>Lunch</h1>
        </ion-card-header>
  <ion-grid>
      <ion-row>
        <ion-col>
            
             <ion-card-content>
              <h2 *ngFor="let meal of lunchMeal; let i=index">{{i+1}}.{{meal}}</h2>
               
             </ion-card-content>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col col-auto>
            <button ion-button large color="secondary">
              <ion-icon name="ios-add-circle-outline" large></ion-icon>
            </button>
        </ion-col>
        <ion-col>
          <button ion-button large color="danger">
            <ion-icon name="md-close"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
  </ion-grid>
  </ion-card>

  <ion-card>
      <ion-card-header>
          <h1>Dinner</h1>
        </ion-card-header>
  <ion-grid>
      <ion-row>
        <ion-col>
            
             <ion-card-content>
              <h2 *ngFor="let meal of dinnerMeal; let i=index">{{i+1}}.{{meal}}</h2>
             </ion-card-content>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col col-auto>
            <button ion-button large color="secondary">
              <ion-icon name="ios-add-circle-outline" large></ion-icon>
            </button>
        </ion-col>
        <ion-col>
          <button ion-button large color="danger">
            <ion-icon name="md-close"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
  </ion-grid>
  </ion-card>

  <ion-card>
      <ion-card-header>
          <h1>Evening Snack</h1>
        </ion-card-header>
  <ion-grid>
      <ion-row>
        <ion-col>
            
             <ion-card-content>
              <h2 *ngFor="let meal of eveMeal; let i=index">{{i+1}}.{{meal}}</h2>
             </ion-card-content>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col col-auto>
            <button ion-button large color="secondary">
              <ion-icon name="ios-add-circle-outline" large></ion-icon>
            </button>
        </ion-col>
        <ion-col>
          <button ion-button large color="danger">
            <ion-icon name="md-close"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
  </ion-grid>
  </ion-card>
      
</ion-content>
