page-main-menu {
ion-icon{
    font-size: 40px;
}

ion-input{
    border: 1.5px solid rgb(153, 153, 153);
    width: 60%;
    
}

.fixed_cal{
    width: 100%;
    height: 30%;
    top: -6%;
    
}

.content{
    top: 6%;
}

}

