page-nutrition {
.div_heading{
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
}
.header{
    background-color: rgb(55, 170, 241);
}
.row:last-child{
    border-bottom: solid 1.5px rgb(213, 241, 255);
}
.col {
    border: solid 1.5px rgb(213, 241, 255);
    padding: 8px;
}
}
